#colorBackground {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: brightness(70%);
}

#headerText {
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
  font-size: 70px;
}

#pageContent {
  text-align: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  filter: brightness(100%);
}

p {
  font-family: 'Bungee Shade', cursive;
  font-size: 30px;
  font-weight: bold;
}

.btn {
  font-family: 'Bungee Shade', cursive;
  width: 600px;
  color: black !important;
  font-weight: bold;
  font-size: 30px;
}

.socialPhoto {
  height: 5%;
  width: 5%;
  margin-top: 150px;
  display: flex;
  margin-left: 10px;
}