.contentCol {
  float: none !important;
  margin-bottom: auto !important;
  margin-top: 10px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  justify-content: center !important;
  text-align: center !important;
  width: auto !important;
  height: 100% !important;
}

.cardTitle {
  font-family: 'Bungee Shade', cursive;
  font-weight: bold;
  font-size: 50px;
  color: #000000;
}

#inputGroup-sizing-default {
  font-weight: bold;
  font-family: 'Bungee Shade', cursive;
  color: #000000;
}

.form-check {
  font-weight: bold;
  margin-top: 15px;
  font-family: 'Bungee Shade', cursive;
  font-size: 20px;
}